<div class="col-md-9 flexy_content" style="padding-left: 0;padding-right: 0;">

    <!-- verticalTab menu -->
    <div id="verticalTab">
        <!-- resp-tabs-container --> 
        <div class="resp-tabs-container">

            <div id="blog" class="content_2">
                <div class="col-md-12">
                    <div class="row">

                        <!-- Page Blog -->
                        <div class="col-md-12" id="blog_page">
                            <!-- start Page Blog -->
                            <section id="post-1-page" class="content-post">
                                <div class="row inner">
                                    <!-- Top_above_title -->
                                    <div class="col-md-12">
                                            <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-client="ca-pub-3300393120826046"
                                            data-ad-slot="7976676067"
                                            data-ad-format="auto"
                                            data-full-width-responsive="true"></ins>
                                    </div>
                                </div>
                                <div class="row inner">

                                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                                        <article class="postPage">

                                            <div class="title_content">
                                                <div class="text_content">
                                                   
                                                    {% if page.title %}
                                                        {{ page.title }}
                                                    {% else %}
                                                        {{site.posts.first.title}}
                                                    {% endif %}
                                                    
                                                </div>
                                                <div class="clear"></div>
                                            </div>

                                            {% if page.content!="" %}
                                                {{ page.content }}
                                            {% else %}
                                                {{site.posts.first.content}}
                                            {% endif %}


                                            <div class="col-md-12 first">
                                                <div class="info">
                                                    <div>


                                                        {% if page.categories %}
                                                            {% assign categories = page.categories %}
                                                        {% else %}
                                                            {% assign categories = site.posts.first.categories %}
                                                        {% endif %}

                                                        {% for category in categories %}
                                                            <span class="tag">#{{category}}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                                <div class="clear"></div>    

                                                <div class="col-md-12" style="margin-top: 20px;">
                                                    <a href="{{page.next.url}}" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                                    <a href="{{page.previous.url}}" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                                </div>

                                                <div class="clear"></div>
                                            </div>

                                        </article>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>


            </div>

        </div><!-- End verticalTab -->

    </div><!-- End flexy_content -->


</div><!-- End row -->