    <!-- profile -->
    <div id="profile" class="content_2">

    <div class="row top-p">
        <div class="col-md-12 profile-l">
            <div class="col-md-12">
                    <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-3300393120826046"
                    data-ad-slot="7976676067"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
            </div>
        </div>
    </div>

    <div class="row top-p">
        <div class="col-md-12 profile-l">
            <div class="row">
                <div class="col-md-12" id="blog_page">
                    <section id="blog-page">

                        {% for post in site.posts %}

                            <article class="blog-article">                    

                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-12 post_content">
                                            <div class="content post_format_standart">
                                                <div class="top_c ">

                                                    <div class="title_content">
                                                        <div class="text_content" style="width:100%">
                                                            <a href="{{ post.url }}"  style="float:left;position:relative">{{ post.title }}</a>
                                                            <a href="{{ post.url }}" style="float:right;position:relative">Read More </a>
                                                        </div>
                                                        
                                                        <div class="clear"></div>
                                                    </div>

                                                    <ul class="info">
                                                        <li><i class="glyphicon glyphicon-time"></i> {{ post.date | date: "%B %e, %Y" }}</li>
                                                        {% for category in post.categories %}
                                                            <li><i class="glyphicon glyphicon-tag"></i>{{ category }}</li>
                                                        {% endfor %}
                                                    </ul>

                                                    <div class="blog-content">
                                                        <p><i class="fa fa-quote-left"></i> {{ post.content | strip_html | truncatewords: 50 }}</p></div>
                                                </div>
                                            </div>  

                                        </div>
                                    </div>

                                </div>
                            </article>
                        {% endfor %}    
                    </section>
                </div>
            </div>
        </div>
    </div>


    <div class="clear"></div>
    </div>
    <!-- End .profile -->