    <!-- profile -->
    <div id="profile" class="content_2">
        <!-- .title -->
    <h1 class="h-bloc">Profile - About Me</h1>

    <div class="row top-p">
        <div class="col-md-6 profile-l">
            <div class="col-md-12">
                <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-3300393120826046"
                data-ad-slot="4927588003"
                data-ad-format="auto"></ins>
            </div>
        </div>
    </div>

    <div class="row top-p">
        <div class="col-md-6 profile-l">
     		
            <!--About me-->
            <div class="title_content">
                <div class="text_content">Pavan Kumar Aryasomayajulu</div>
                <div class="clear"></div>
            </div>

    		<ul class="about">

                <li>
                    <i class="glyphicon glyphicon-user"></i>
                    <label>Name</label>
                    <span class="value">Pavan Kumar Aryasomayajulu</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-calendar"></i>
                    <label>Date of birth</label>
                    <span class="value">Jan 21, 1989</span>
                    <div class="clear"></div>
                </li>

                <li> 
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <label>Adress</label>
                    <span class="value">Visakhapatnam , India</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <label>Email</label>
                    <span class="value">xyzcoder1989@gmail.com</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-phone"></i>
                    <label>Phone</label>
                    <span class="value">+91 9030401024</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-globe"></i>
                    <label>Website</label>
                    <span class="value"><a href="#" target="_blank">xyzcoder.github.io</a></span>
                    <div class="clear"></div>
                </li>

            </ul>

        </div>
        <!-- End left-wrap -->
    </div>

    <div class="row top-p">
        <div class="col-md-12 profile-l">
            <p style="margin-bottom:20px">
                <i class="fa fa-quote-left"></i>       
                I am passionate programmer with good experience in building various application both enterprise level and small scale. I mainly work on Microsoft Technologies but never confined to them. I also work on various open source technologies like Node.js, Python.
                <br/>
                <br/>
                I mainly work on end-end application development which includes writing application logic in front end using technologies like Angular.js, Jquery. Building UI screens with technologies like Bootstrap, Jquery UI.
                <br/>
                <br/>
                Building business logic and server side coding using various technologies like ASP.NET, MVC, Python, Node.js
                Implementing service in Soap based services, Com+ components, WCF, WebApi, Restful services, Python Flask.
                Proficient in databases like Microsoft Sql Server and having knowledge on NoSql Databases like Couchbase.
                <br/>
                <br/>
                Apart from technology i like to travel. I visited many places in India and can help people choosing travel destinations. 
            </p>
        </div>
    </div>


    <!-- begin service -->
    <div class="clear"></div>

    <div id ="resume" class="row">
       <!-- .resume-right -->
        <div class="col-md-6">
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Programming Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>C#</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title"><span>Asp.Net</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>

                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title"><span>Asp.Net Core</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title"><span>Asp.Net MVC</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>

                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title"><span>Asp.Net WebApi</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>

                <div class="skillbar clearfix" data-percent="70%">
                    <div class="skillbar-title"><span>Javascript</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>

                <div class="skillbar clearfix" data-percent="70%">
                    <div class="skillbar-title"><span>ReactJs</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>

                <div class="skillbar clearfix" data-percent="40%">
                    <div class="skillbar-title"><span>Angular2</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">40%</div>
                </div>

                <div class="skillbar clearfix" data-percent="80%">
                    <div class="skillbar-title"><span>Html</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">80%</div>
                </div>

                <div class="skillbar clearfix" data-percent="70%">
                    <div class="skillbar-title"><span>CSS</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>

                <div class="skillbar clearfix" data-percent="50%">
                    <div class="skillbar-title"><span>Python</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>

                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Jenkins</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>

                <div class="skillbar clearfix" data-percent="50%">
                    <div class="skillbar-title"><span>Docker</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>

                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>CI\CD</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->
                
                 <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Php</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>

                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Serverless applications(Aws Lambda)</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">70%</div>
                </div>

                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>AWS</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>

                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title"><span>SQL Server</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <div class="skillbar clearfix" data-percent="75%">
                    <div class="skillbar-title"><span>MySql</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">75%</div>
                </div>
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Couchbase</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>

                <div class="skillbar clearfix" data-percent="50%">
                    <div class="skillbar-title"><span>Elastic Search</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>
                <!-- /.skillbar --> 
            </div>
            
            
            
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Language Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>English</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->
                
                <!-- .skillbar -->
                <div class="skillbar clearfix " data-percent="50%">
                    <div class="skillbar-title"><span>Hindi</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">50%</div>
                </div>
                <!-- /.skillbar -->
                
            </div>
            
            
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">My Resume</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <!-- .download_resume -->
            <a class="download" style="margin:0;float: left;" href="#">
                <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
            </a>
            <!-- /.download_resume -->

        </div>
         <!-- /.resume-right -->
         
         
         
         <!-- .resume-left -->
        <div class="col-md-6 resume-left">    
            <!-- .title_content -->
            <div class="title_content" style="margin-bottom:5px">
                <div class="text_content">Experience</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <!-- .attributes -->
            <ul class="attributes">
                <li class="first">
                    <h5>Software Architect<span class="duration"><i class="fa fa-calendar color"></i> March 2016 - Present</span></h5>
                    <h6><span class="fa fa-briefcase"></span>Sails Software Solutions</h6>
                    <p>Designing, planning and developing are integral tasks in my daily routine. I started evaluating various technologies and decide on which one to go with. Implemented POC on challenging tasks and making sure that they get integrated smoothly in the product. As a stratup we developed a product called Mycareer.com which was completely built using open source technologies</p>
                </li>
                <li>
                    <h5>Senior Software Engineer <span class="duration"><i class="fa fa-calendar color"></i> Aug 2015 - Mar 2016</span></h5>
                    <h6><span class="fa fa-briefcase"></span>United Health Group</h6>
                    <p>Knowledge Components is a proprietary product of UHG which consists of various modules like Reimbursement, Search and mapping ICD9, ICD10 code, adding patient demographics. This is used by doctors in the United States to search for ICD9, ICD10 codes and then initialize the claim process.</p>
                </li>

                <li>
                    <h5>Senior Software Engineer <span class="duration"><i class="fa fa-calendar color"></i> May 2010 - Aug 2015</span></h5>
                    <h6><span class="fa fa-briefcase"></span>IBM</h6>
                    <p>As a developer at Kenexa(IBM), I worked in various areas like Application development, Application maintenance, Migration of code from VB.Net to C#, Implementing client requirements after analyzing them. Worked on enhancements and also implementing new features in IBM smarter workforce products like Kenexa Recruitment Brassring</p>
                </li>

            </ul>
            <!-- /.attributes -->
            <br>
            
            <!-- .title_content -->
            <div class="title_content">
                <div class="text_content">Education</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            
            <!-- .attributes -->
            <ul class="attributes">
                <li>
                    <h5>Bachelor of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2006 - 2010</span></h5>
                    <h6><span class="fa fa-book"></span> Jawaharlal Nehru Technological University</h6>
                    <p>Completed my graduation in the stream of Computer science</p>
                </li>
            </ul>
            <!-- /.attributes -->
            <br>  
            
        </div>
        <!-- /.resume-left -->
    </div>


    <div class="clear"></div>
    </div>
    <!-- End .profile -->