<div class="col-md-3 widget-profil">
	<div class="row">

		<div class="affix">
			<!-- Profile Image -->
			<div class="col-lg-12 col-md-12 col-sm-3 col-xs-12 ">

				<div class="image-holder one" id="pic_prof_1" style="display:block">
					<img class="head-image front circle" src="{{ site.baseurl }}/images/img/0.jpg" width="150" height="150" alt="" />
				</div>

				<!-- style for simple image profile -->		
				<div class="circle-img" id="pic_prof_2" style="display:none"></div>
			</div>
			<!-- End Profile Image -->

			<!-- Begin profile information -->
			<div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
				<!-- Profile info -->
				<div id="profile_info">
					<h3 id="name" class="transition-02" style="color: white;text-align:  center;margin-top: 0px;">{{ site.yourname }}</h3>
				</div>
				<!-- End Profile info -->  


				<!-- Profile Description -->
				<!-- <div id="profile_desc">
					<p>
						I am a passionate programmer with good experience in building various application both enterprise level and small scale. Apart from technology I like to travel. I visited many places in India and can help people choosing travel destinations.
					</p>

				</div> -->
				<!-- End Profile Description -->  


				<!-- Name -->
				<div id="profile_social" style="padding-top: 0px;">
					<div style="position:  relative;left: 30%">
						<a href="{{site.facebook}}"><i class="fa fa-facebook"></i></a>
						<a href="{{site.twitter}}"><i class="fa fa-twitter"></i></a>
						<a href="{{site.linkedin}}"><i class="fa fa-linkedin"></i></a>
					</div>
					<div class="clear"></div>
				</div>
				<br>
				<div id="profile_desc">
					<h1 class="glow" style="font-size:20px;"><a href="#" onclick="subscribe()">Subscribe</a></h1>
					<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-3300393120826046"
				     data-ad-slot="6654590880"
				     data-ad-format="auto">
				     </ins>
				</div>
				<!-- End Name -->  

			</div>
			<!-- End profile information -->

		</div>                                      
	</div> 
	<!-- end profile -->
</div>