    <!-- profile -->
    <div id="profile" class="content_2">

        <div class="row top-p">
            <div class="col-md-6 profile-l">
                 
                <!--About me-->
                <div class="title_content">
                    <div class="text_content">Pavan Kumar Aryasomayajulu</div>
                    <div class="clear"></div>
                </div>
    
                <ul class="about">
    
                    <li>
                        <i class="glyphicon glyphicon-user"></i>
                        <label>Name</label>
                        <span class="value">Pavan Kumar Aryasomayajulu</span>
                        <div class="clear"></div>
                    </li>
    
                    <li>
                        <i class="glyphicon glyphicon-calendar"></i>
                        <label>Date of birth</label>
                        <span class="value">Jan 21, 1989</span>
                        <div class="clear"></div>
                    </li>
    
                    <li> 
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <label>Adress</label>
                        <span class="value">Visakhapatnam , India</span>
                        <div class="clear"></div>
                    </li>
    
                    <li>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <label>Email</label>
                        <span class="value">xyzcoder1989@gmail.com</span>
                        <div class="clear"></div>
                    </li>
    
                    <li>
                        <i class="glyphicon glyphicon-envelope"></i>
                        <label>Email</label>
                        <span class="value">pavan.aryasomayajulu@gmail.com</span>
                        <div class="clear"></div>
                    </li>
    
                    <li>
                        <i class="glyphicon glyphicon-phone"></i>
                        <label>Phone</label>
                        <span class="value">+91 9030401024</span>
                        <div class="clear"></div>
                    </li>
    
                    <li>
                        <i class="glyphicon glyphicon-globe"></i>
                        <label>Website</label>
                        <span class="value"><a href="#" target="_blank">xyzcoder.github.io</a></span>
                        <div class="clear"></div>
                    </li>
    
                </ul>
    
            </div>
            <!-- End left-wrap -->
        </div>
    
        
        
        <div class="row top-p">
            <div class="col-md-12 profile-l">
                <p style="margin-bottom:20px">
                    <i class="fa fa-quote-left"></i>       
                    I am a passionate programmer with good experience in building various application both enterprise level and small scale. I mainly work on Microsoft Technologies but never confined to them. I also work on various open source technologies like Node.js, Python.
                    <br/>
                    <br/>
                    I mainly work on end-end application development which includes writing application logic in front end using technologies like Angular.js, Jquery. Building UI screens with technologies like Bootstrap, Jquery UI.
                    <br/>
                    <br/>
                    Building business logic and server side coding using various technologies like ASP.NET, MVC, Python, Node.js
                    Implementing service in Soap based services, Com+ components, WCF, WebApi, Restful services, Python Flask.
                    Proficient in databases like Microsoft Sql Server and having knowledge on NoSql Databases like Couchbase.
                    <br/>
                    <br/>
                    Apart from technology i like to travel. I visited many places in India and can help people choosing travel destinations. 
                </p>
            </div>
        </div>
    
    
        <!-- begin service -->
        <div class="clear"></div>
        
        <div class="row top-p">
            
            <div class="col-md-12 profile-l">
                <div class="title_content">
                    <div class="text_content">1. Sails Solutions (Present) - Hiretech</div>
                    <div class="clear"></div>
                </div>
            </div>
    
            <div class="col-md-12 profile-l">
                <p style="margin-bottom:20px">
                    <i class="fa fa-quote-left"></i> 
    
                    <h5><b> Work Opportunity Tax Credit</b></h5>
                    The Work Opportunity Tax Credit (WOTC) is a federal program that provides tax incentives to employers for hiring and retaining individuals from targeted groups. To claim the credit, an employer must identify a potential hire as being eligible for one of the target groups, on or before the day of the job offer. The credit is open to any tax paying company in the 50 United States, The US Virgin Islands, and Puerto Rico.
    
                    <h5><b>1. Continuous Build and Continuous Integration ( CI & CD)</b></h5>
                    I was using Jenkins and few plugins provided by community for continuous integrationa nd continuous deployments of one of our products at Sails.
                    The main idea behind this was to deploy code and execute unit test cases with a single click.
                    As a part of this project, I wrote Jenkins scripts, MS Build scripts and also scripts for interacting with AWS from command line interface.
                    <br/>
                    <h5><b>2. Building Lambda In AWS</b></h5>
                    One of our clients were in a need to execute some code in the background. There are quite a few of them and I suggested them to go with Server less architecture. For this we choose AWS Lambda's and we implemented them using Asp.Net Core.
                    
                    <h5><b>2. Making use of AWS Capabilites in our Product</b></h5>
                    There are many AWS features which we were using frequently in our day to day implementations.Few of them are <br/>
                     i. Aws Lambdas<br/>
                     ii. AWS Cloud Instances<br/>
                     iii. VPC for securing and isolating our environment from external.<br/>
                     iV. SES ( Simple Email Services) - For Inbound and Outbound Mail communications from our applications<br/>
                     V. S3 buckets - For storage purposes<br/>
                    </p>
            </div>
    
            <div class="col-md-12 profile-l">
                <div class="title_content">
                    <div class="text_content">2. XyzCoder.github.io && pavanarya.wordpress.com</div>
                    <div class="clear"></div>
                </div>
            </div>
            
            <div class="col-md-12 profile-l">
                <p style="margin-bottom:20px">
                    <i class="fa fa-quote-left"></i> 
                        These are my personal blogs where I write about technologies and challenges that I face during my day to day activities.
                        Xyzcoder.githhub.io was built with 0 cost and maintainance by using Github Pages and a static website generator Jekyll which internally uses Ruby and Rails.
                        <br/>I also use Firebase as database that supports my blog for dynamic content.
                        For front end I am using Bootstrap.
                        
                        <br/><br/>
                        Url : <a href="https://xyzcoder.github.io">xyzcoder.github.io</a> && <a href="https://pavanarya.wordpress.com">pavanarya.wordpress.com</a>
                </p>
            </div>
            
            <div class="col-md-12 profile-l">
                <div class="title_content">
                    <div class="text_content">3. BlueTrackMedia (Nov 2016-March 2018)</div>
                    <div class="clear"></div>
                </div>
            </div>
    
            <div class="col-md-12 profile-l">
                <p style="margin-bottom:20px">
                    <i class="fa fa-quote-left"></i> 
                        I was part of a team who were trying to redefine the AdTech Industry with innovation and technology.
                    <br/>
                    Having 7+ years of experience in Microsoft technologies (.Net), I was given an oppurtunity to work on technologies like PHP,Java and many cutting edge technologies like Docker,Redis,ReactJs             
                    <br/>
                    I was able to deliver some crutial projects by making use of above mentioned technologies.
                </p>
            </div>
            
            <div class="col-md-12 profile-l">
                <div class="title_content">
                    <div class="text_content">4. MyCareer.Com (Jan 2015-Dec 2016)</div>
                    <div class="clear"></div>
                </div>
            </div>
    
            <div class="col-md-12 profile-l">
                <p style="margin-bottom:20px">
                    <i class="fa fa-quote-left"></i> 
                        This is the inhouse product which we built at Sails Software Solutions. Intially it was a tough personnel decision to start working on this product with an awsome team of 4 members leaving behind all my comforts as a developer at Big MNC's, But the results are fruitful.
                        I am sure I would have regretted for a life time if I didnt join this company. Durging this period, I got a chance to work on many open source technologies like Python, Node.js,ReactJs,Apache Spark.
                    <br/>
                        <br/>
                    <h4><b>Some Interesting Projects which we executed at Sails:</b></h4>
                    <h5><b>1. MyCareer.com:</b></h5>
                    MyCareer is conceptualized, built, invested-in and founded by a couple of Human Capital Management industry veterans with backgrounds in Business and Engineering. Our sole mission is to provide a tool to recruiters that they can call "Recruiters Best Friend", by bringing in Big Data and Analytics tools to the science and art of recruiting.
                    We brought many Big Data tools into picture like Apache Spark, Hdfs, Elastic Search to crunch our huge resume database and extract data that can be easily consumed by recruiters.
                    Along with that we implemented many fancy functionalities which makes day to day job of a recruiter easy.
                    <br/>
                    For building the web application we were using technologies like CoucheBase(NoSQL Database) for storing non transactional data.
                    Node.Js for building API's which can be consumed by ReactJs which we used to build Single Page Applications(SPA)
                    <h5><b>2. Extracting Related Skills:</b></h5>
                    The main motto behind this project is to show related skills for a given skill. For example, If I enter C# then I am supposed to get related technology skill name in Microsoft stack like Asp.Net,Mvc, WebApi,Sharepoint,Html and others.
                    We had a huge database of 7+ Millions resumes in word and pdf format. So this is all in raw format and I need to convert them into valid text format.
                    
                    For this purpose, I was using a cluster of Apache Spark of 10 machines and converted these doc format resumes to hdfs file system.
                    Later I scrapped skills dataset from Linkedin and other data sources. Now using Apache Spark, I started tagging text resumes with skills we extracted. Also we used Natural language processing(NLP) for POS Tagging.
                    Once this is all successfully done, we started applying our algorithms to group related technologies from this huge dataset of 7 million resumes. 
                    
                    <h5><b>3. Making Our Search Faster:</b></h5>
                    Our resume database was growing drastically and it is our responsibility to provide end users a seem less experience for data retrieval. So the team implemented Elastic Search and indexed our 7+ Million resumes and we were able to retrieve data fastly.
                
                    <h5><b>4. Recruiter Friendly Chrome Extension to Extract User Profiles:</b></h5>
                    The primary motto behind this extension is to help recruiters in saving their candidate data into a centralized location ( MyCareer.com). On a daily basis a recruiter visits many sources like LinkedIn, Naukari, Dice , Monster and many other job sites for finding potential candidates.
                    Some of these sites charge based on Per user view and another drawback is they need to either download thses resumes and store them at random places and there are plenty of chances in loosing this data.
                    So when a recruiter makes use of our Extension and create a free account with MyCareer.com, they can simply browse these potentials candidates on these job sites and iin the background we sync candidates data into MyCareer.com
                    Now recruiter can login into MyCareer and can take appropriate actions on these candidates and can create a workflow.
                    
                    <h5><b>4. Revolving IP Implementation</b></h5>
                    One of the main pain points with resumes is they become stale once a candidate finds his dream job. So the pain point that we had is, we always wanted to have fresh candidate data and a source for fresh candidate data is sometimes their social media profiles.
                    So we built a sytem which can query linkedin and other social media applications with candidate data we had, like Firstname, lastname, email and retrieve his updated data.
                    But the problem here is some of these social media sites throttle number of calls we make.
                    So In order to overcome that problem, we built a custom python script. We get a list of Proxy IP's available( for example https://free-proxy-list.net/) and then using each of these proxy IP's we make a call to some of these social media sites. Once an IP reaches its limit, we use next IP which we got from Free Proxy List.
                </p>
            </div>
            
            <div class="col-md-12 profile-l">
                <div class="title_content">
                    <div class="text_content">6. IBM (May 2010-August 2015)</div>
                    <div class="clear"></div>
                </div>
            </div>
            
            <div class="col-md-12 profile-l">
                <p style="margin-bottom:20px">
                    <i class="fa fa-quote-left"></i> 
                    KRB is one stop solution for all stages in the process of hiring resources for an
                    organization. In the Talent Management space, KRB automates every step of hiring
                    process. It includes job creation, posting job on gateways/agency’s, gathering best
                    talent from different sources, managing the best suited candidates, sending
                    automated communication on the current statuses, sending assessments to take,
                    evaluating the scores, sending forms to fill, scheduling the interview, generating offer
                    to the candidates and finally onboarding process of the candidate. KRB is tightly
                    integrated with other Kenexa applications like Interview builder, career tracker,
                    Assessments etc. which makes KRB a better solution for many large scale companies
                    in their Hiring process. KRB is tightly integrated to the famous job portals like First
                    Advantage, TMP Pathways, Broad Bean, Monster etc. which help the companies to get
                    best talent for their job openings.
                <br/>
                KRB is being used across various companies operating in various domains at
                various parts of the world, which tells the scalability and configurability of the
                application. KRB application supports 13 different languages which makes it a Truly
                Global solution for recruitment.
                
                <br/><br/>
                    1. Responsible for the analysis of the requirements, foreseeing the problems and providing efficient solutions.</br>
                    2. Responsible for providing effort estimation for various stages of the project including design/coding/ testing.</br>
                    3. Providing efficient solutions to the product management to implement client’s specific requirements without impacting other clients. </br>
                    4. Responsible for integration of various modules of the application with other Kenexa applications so that clients can purchase and use multiple applications together.</br>
                    5. Responsible for training the new hires on board for the project, providing training sessions to the team members on the new projects or functional areas.</br>
                    6. Writing Business logic code and expose them through web services for making the application secured, as well as to achieve N-tier architecture. </br>
                    7. Developing User Interface Pages based on the requirement using C#, ASP.NET, JavaScript, XSLT, Web Services, AJAX.</br>
                    8. Testing – Unit testing and Integration testing.</br>
                    9. Attending client’s escalations and provide them quick solutions/ hot fixes on demand. Also helping the product support team in addressing hot issues or escalations.</br>
                    
                    <h5><b>2. .Net Conversion:</b></h5>
                    This is one of the major project in my career . The project is all about converting existing visual basic code to c# libraries. In order to accomplish this task we were making use of a tool called as “ARTINSOFT”. We need to input vb code and it would output us raw c# files with numbers of errors. So my task was to organize the code and also manually rewrite the code pieces that were not converted. We had to do lot of coding as the output of the tool didn’t meet our requirements to some extent. Another major thing was, major part of the brassring would work on VB code and at the same time we need to convert that particular code back to C# and merge it. 
                    In a team of 4, I was involved in – <br/><br/>
                    • Converting the code using the tool <br/>
                    • Writing customized tools in order to test the efficiency of converted code<br/>
                    • Unit testing<br/>
                    • Configuration, Deployment. <br/>
                    <br/>
                    Technology Used: 
                     C#, VB, SQL Server, Web Services, ARTINSOFT tool
                     
                     <h5><b>3. Rules Automation Manager (Brassring) - IBM: </b></h5>
                    Rules Automation Manager engine is developed to automate the recruiter tasks, which require more time like sending e-mails to thousands of applicants, updating the HR Statuses of large number of applicants and communicating them, moving large number of applicants through multiple Requisition folders, etc.,. This tool will reduce cost of resources and reduce overhead on recruiter tasks.
                    In a team of 5, I was involved in –<br/><br/>
                    • Webpage designing and coding in ASP.NET.<br/>
                    • Developing Custom controls and schedulers.<br/><br/>
                    Technology Used: 
                    ASP.NET, C#, SQL Server, JavaScript, Web Services, AJAX, TFS and VS2008
                    
                    
                    <h5><b>4. Devloping Hybrid mobile application using Worklight</b></h5>
                    The project is all about developing a mobile application with a motto of one code base targeting multiple devices. In the initial phase we developed an application that would have a subset of features in the actual Brassing application like viewing created job details, managers approving  jobs that were created by recruiters. In order to develop this application we are making use of eclipse and an IBM plugin called as “WorkLight”. Hybrid applications are nothing but Html5 applications that were rendered as native applications on mobile devices. 
                    In a team of 2, I was involved in –<br/><br/>
                    • Designing UI using HTML5 and BootStrap framework<br/>
                    • Writing services that can be consumed through jquery ajax calls in Html<br/><br/>
                    Technology Used: 
                    Plain HTML5, localStorage features , jquery to consume services created using WebApi.Note we didn’t make use of major features of worklight as most of our tasks were accomplished using jquery and bootstrap
    
    
    
                </p>
            </div>
            
        </div>
        
    
        <div id ="resume" class="row">
           <!-- .resume-right -->
            <div class="col-md-6">
                <!-- .title_content -->
                <div class="title_content" style="float: none;">
                    <div class="text_content">Programming Skills</div>
                    <div class="clear"></div>
                </div>
                <!-- /.title_content -->
                
                <div class="skills">
                    <!-- .skillbar -->
                    <div class="skillbar clearfix" data-percent="90%">
                        <div class="skillbar-title"><span>C#</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">90%</div>
                    </div>
                    <!-- /.skillbar -->
                    
                    <!-- .skillbar -->
                    <div class="skillbar clearfix" data-percent="80%">
                        <div class="skillbar-title"><span>Asp.Net</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="80%">
                        <div class="skillbar-title"><span>Asp.Net Core</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div>
                    <!-- /.skillbar -->
                    
                    <!-- .skillbar -->
                    <div class="skillbar clearfix" data-percent="80%">
                        <div class="skillbar-title"><span>Asp.Net MVC</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="80%">
                        <div class="skillbar-title"><span>Asp.Net WebApi</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="70%">
                        <div class="skillbar-title"><span>Javascript</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">70%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="70%">
                        <div class="skillbar-title"><span>ReactJs</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">70%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="40%">
                        <div class="skillbar-title"><span>Angular2</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">40%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="80%">
                        <div class="skillbar-title"><span>Html</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">80%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="70%">
                        <div class="skillbar-title"><span>CSS</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">70%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="50%">
                        <div class="skillbar-title"><span>Python</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">50%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="60%">
                        <div class="skillbar-title"><span>Jenkins</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">60%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="50%">
                        <div class="skillbar-title"><span>Docker</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">50%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="60%">
                        <div class="skillbar-title"><span>CI\CD</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">60%</div>
                    </div>
                    <!-- /.skillbar -->
                    
                     <!-- .skillbar -->
                    <div class="skillbar clearfix" data-percent="60%">
                        <div class="skillbar-title"><span>Php</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">60%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="60%">
                        <div class="skillbar-title"><span>Serverless applications(Aws Lambda)</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">70%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="60%">
                        <div class="skillbar-title"><span>AWS</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">60%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="75%">
                        <div class="skillbar-title"><span>SQL Server</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">75%</div>
                    </div>
                    <div class="skillbar clearfix" data-percent="75%">
                        <div class="skillbar-title"><span>MySql</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">75%</div>
                    </div>
                    <div class="skillbar clearfix" data-percent="60%">
                        <div class="skillbar-title"><span>Couchbase</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">60%</div>
                    </div>
    
                    <div class="skillbar clearfix" data-percent="50%">
                        <div class="skillbar-title"><span>Elastic Search</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">50%</div>
                    </div>
                    <!-- /.skillbar --> 
                </div>
                
                
                
                <!-- .title_content -->
                <div class="title_content" style="float: none;">
                    <div class="text_content">Language Skills</div>
                    <div class="clear"></div>
                </div>
                <!-- /.title_content -->
                
                <div class="skills">
                    <!-- .skillbar -->
                    <div class="skillbar clearfix" data-percent="90%">
                        <div class="skillbar-title"><span>English</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">90%</div>
                    </div>
                    <!-- /.skillbar -->
                    
                    <!-- .skillbar -->
                    <div class="skillbar clearfix " data-percent="50%">
                        <div class="skillbar-title"><span>Hindi</span></div>
                        <div class="skillbar-bar"></div>
                        <div class="skill-bar-percent">50%</div>
                    </div>
                    <!-- /.skillbar -->
                    
                </div>
                
                
                <!-- .title_content -->
                <!-- <div class="title_content" style="float: none;">
                    <div class="text_content">My Resume</div>
                    <div class="clear"></div>
                </div> -->
                <!-- /.title_content -->
                
                <!-- .download_resume -->
                <!-- <a class="download" style="margin:0;float: left;" href="#">
                    <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
                </a> -->
                <!-- /.download_resume -->
    
            </div>
             <!-- /.resume-right -->
             
             
             
             <!-- .resume-left -->
            <div class="col-md-6 resume-left">    
                <!-- .title_content -->
                <div class="title_content" style="margin-bottom:5px">
                    <div class="text_content">Experience</div>
                    <div class="clear"></div>
                </div>
                <!-- /.title_content -->
                
                <!-- .attributes -->
                <ul class="attributes">
                    <li class="first">
                        <h5>Software Architect<span class="duration"><i class="fa fa-calendar color"></i> March 2016 - Present</span></h5>
                        <h6><span class="fa fa-briefcase"></span>Sails Software Solutions</h6>
                        <p>Designing, planning and developing are integral tasks in my daily routine. I started evaluating various technologies and decide on which one to go with. Implemented POC on challenging tasks and making sure that they get integrated smoothly in the product. As a stratup we developed a product called Mycareer.com which was completely built using open source technologies</p>
                    </li>
    
                    <li>
                        <h5>Senior Software Engineer <span class="duration"><i class="fa fa-calendar color"></i> May 2010 - Aug 2015</span></h5>
                        <h6><span class="fa fa-briefcase"></span>IBM</h6>
                        <p>As a developer at Kenexa(IBM), I worked in various areas like Application development, Application maintenance, Migration of code from VB.Net to C#, Implementing client requirements after analyzing them. Worked on enhancements and also implementing new features in IBM smarter workforce products like Kenexa Recruitment Brassring</p>
                    </li>
    
                </ul>
                <!-- /.attributes -->
                <br>
                
                <!-- .title_content -->
                <div class="title_content">
                    <div class="text_content">Education</div>
                    <div class="clear"></div>
                </div>
                <!-- /.title_content -->
                
                <!-- .attributes -->
                <ul class="attributes">
                    <li>
                        <h5>Bachelor of Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2006 - 2010</span></h5>
                        <h6><span class="fa fa-book"></span> Jawaharlal Nehru Technological University</h6>
                        <p>Completed my graduation in the stream of Computer science</p>
                    </li>
                </ul>
                <!-- /.attributes -->
                <br>  
                
            </div>
            <!-- /.resume-left -->
        </div>
    
    
        <div class="clear"></div>
        </div>
        <!-- End .profile -->

        <style>
        .skillbar-title, .skillbar-bar {
            background: #3B5998 !important;
        }
        </style>