    <!-- jquery | jQuery 1.11.0 -->
    <!-- Credits: http://jquery.com -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

    <!-- Js | bootstrap -->
    <!-- Credits: http://getbootstrap.com/ -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script> 

    <!-- Js | jquery.cycle -->
    <!-- Credits: https://github.com/malsup/cycle2 -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.cycle2.min.js"></script>

    <!-- jquery | rotate and portfolio -->
    <!-- Credits: http://jquery.com -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.mixitup.min.js"></script> 
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/HeadImage.js"></script>

    <!-- Js | easyResponsiveTabs -->
    <!-- Credits: http://webtrendset.com/demo/easy-responsive-tabs/Index.html -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/easyResponsiveTabs.min.js"></script>  

    <!-- Js | mCustomScrollbar -->
    <!-- Credits: http://manos.malihu.gr/jquery-custom-content-scroller -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>     

    <!-- jquery | prettyPhoto -->
    <!-- Credits: http://www.no-margin-for-errors.com/ -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.prettyPhoto.js"></script>


    <!-- Js | Js -->
    <!-- Credits: http://themeforest.net/user/FlexyCodes -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->