<!doctype html>
<html lang="en">
  <head>
  
  
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Xyzcoder.github.io">
    <meta name="author" content="Pavan Kumar Aryasomayajulu">
    <title><%= config.title %></title>
	
	
    <!-- Bootstrap Core CSS -->
    <link href="/dist/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/dist/assets/css/clean-blog.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="/dist/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	
  </head>
  <body>
    <div id="container"></div>
    <script src="<%= bundle %>"></script>
    <%_ if (!debug && config.trackingID) { _%>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','<%= config.trackingID %>','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <%_ } _%>
  </body>
</html>
