
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="no-js"> <!--<![endif]-->  
{% include head.html %}

<body>
  <div class="wrapper">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            <div class="row">   

              <!-- post_content -->
              <div class="col-md-12 flexy_content" style="padding-left: 0;padding-right: 0;">

                <!-- verticalTab menu -->
                <div id="verticalTab">
                  <!-- resp-tabs-container --> 
                  <div class="resp-tabs-container">

                   {{content}}

                 </div>
                 <!-- End #resp-tabs-container --> 

               </div><!-- End verticalTab -->

              </div><!-- End post_content -->


            </div><!-- End row -->

          </div><!-- End col-md-12 -->

        </div><!-- End row -->

      </div><!-- End container -->

  </div>


{% include scripts.html %}
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html> 

