
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> 
<html lang="no-js"> <!--<![endif]-->  
{% include head.html %}

<body>

    <div class="topnav" id="myTopnav">
      <a href="{{ site.baseurl }}/index.html" class="active">Blog</a>
      <a href="{{ site.baseurl }}/about.html">About Me</a>
      <a href="{{ site.baseurl }}/tags">Posts By Tags</a>
      <a href="#" onclick="subscribe()">Subscribe</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
    function subscribe(){
        $("#myModal").modal("show");
    }
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<div class="wrapper">

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <div class="row">   

                    <!-- profile -->
                    {% include profile_widget.html %}
                    <!--end profile -->

                    <!-- blog content -->
                    {% include blog_content.html %}
                    <!--blog content -->

                </div><!-- End col-md-12 -->

            </div><!-- End row -->

        </div><!-- End container -->

        <!-- </section> -->
        <!-- End Content -->

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title" style="color: white;">Thank you for reading this article</h4>
                </div>
                <div class="modal-body">
                  <p>Please Enter your email</p>
                  <input type="text" id="email" style="width:100%">
                  <div class="adsense-inject">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default">Subscribe</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
          
            </div>
        </div>

    </div>
</div>

        
{% include scripts.html %}
<script>
    [].forEach.call(document.querySelectorAll('.adsbygoogle'), function(){
    (adsbygoogle = window.adsbygoogle || []).push({});
});
//In future we can ad ads in popup
$('#myModal').on('shown.bs.modal', function (e) {
    $(".adsense-inject").each(function () {
        $(this).append('<ins class="adsbygoogle"style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-3300393120826046" data-ad-slot="9095096865"></ins>');  
        (adsbygoogle = window.adsbygoogle || []).push({});
    });
})


</script>



</body>
</html> 

